.header {
	width: 100%;
	max-width: 100%;

	@include font($font-family-secondary);
	text-transform: uppercase;

	&__inner {
		@include flex-pos(flex-end, normal);
		padding: 4.8rem 0;
	}

	&__nav {
		width: 100%;
		max-width: 50%;
		@include flex-pos(space-between, center);
	}

	&__title {
		position: relative;

		&::after {
			@include absolute(115%, 100%, 0%, 50%);

			@include box(0%, 0.4rem);

			background-color: $green;

			transition: all $transition-time ease-in-out;

			content: '';
		}
	}

	&__link:hover &__title::after {
		left: 0;

		width: 100%;
	}

	&__phone {
		padding: 1rem;

		font-family: $BebasNeueNotCyrillic;

		cursor: pointer;

		@include border(0.1rem, solid, get-theme-color('secondary'), 1rem);
	}
}
