.header {
	position: fixed;
	z-index: 10000;

	@include box(100%);
	max-width: 100%;
	max-height: $header-height;

	@include flex-pos(normal, center);

	&__inner {
		@include flex-pos(flex-end, normal);
	}
}

.nav {
	@include flex-pos(space-between, center);

	width: 100%;
	max-width: 50%;

	@include font($font-family-secondary);

	&__title {
		position: relative;

		&::after {
			@include absolute(115%, 100%, 0%, 50%);

			@include box(0%, 0.3rem);

			background-color: $green;
			box-shadow: 0 -1.5rem 2rem 1rem rgba(0, 0, 0, 0.2);
			opacity: 0;

			transition: all $transition-time ease-in-out;

			content: '';
		}
	}

	&__link:hover &__title::after {
		left: 0;

		width: 100%;

		opacity: 1;
	}

	&__phone {
		padding: 1rem;

		font-family: $BebasNeueNotCyrillic;

		@include border(0.2rem, solid, $secondary, 1rem);
	}
}
