//Montserrat
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-weight: 500;
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}

//BebasNeue
@font-face {
	font-family: 'BebasNeueCyrillic';
	src: url('../fonts/Bebas_Neue/BebasNeueCyrillic-Regular.ttf');
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
	font-family: 'BebasNeueBook';
	src: url('../fonts/Bebas_Neue/BebasNeueBook.ttf');
}
