//Color
$white: #fff;
$black: #000;
$brown: #c7af8a;
$yellow: #fbd407;
$green: #5a8a1d;
$gray: #7d7d7d;
$dark-green: #c3bb7a;

$white-600: rgba(255, 255, 255, 0.6);
$black-100: rgba(0, 0, 0, 0.1);

$primary: $black;
$secondary: $brown;

//Font
$font-family-primary: 'BebasNeueCyrillic', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;

$BebasNeueNotCyrillic: 'BebasNeue', sans-serif;
$BebasNeueBook: 'BebasNeueBook', sans-serif;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.75;
$font-size-lg: $font-size-base * 3;

$font-weight-nl: 400;
$font-weight-md: 500;
$font-weight-bd: 700;

$line-height-nl: 1;
$line-height-md: 1.25;
$line-height-lg: 1.75;

$font-size-headings: (
	h1: $font-size-base * 4.5,
	h2: $font-size-base * 3,
	h3: $font-size-base * 2,
	h4: $font-size-base * 1.5,
	h5: $font-size-base * 1.25,
	h6: $font-size-base,
);

//TRANSITION
$transition-time: 0.4s;

//Margin
$intro-img-mg-top: 2rem;
$intro-img-mg-bottom: $intro-img-mg-top * 2;
$description-mg: 7rem;

// Padding
$form-item-horizontal-padding: 1.5rem;

//Size
$date-input-width: 9rem;
$date-input-icon-w: $form-item-horizontal-padding + 2.3;
$guest-input-width: 3.5rem;
$guest-input-icon-w: $form-item-horizontal-padding + 1.9;
