$white: #fff;
$black: #000;
$brown: #c7af8a;
$yellow: #fbd407;
$green: #5a8a1d;

$theme-colors: (
	'primary': $black,
	'secondary': $brown,
);

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'BebasNeueCyrillic', sans-serif;
$BebasNeueNotCyrillic: 'BebasNeue', sans-serif;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$font-weight: (
	'normal': 400,
	'medium': 500,
	'bold': 700,
);

$line-height: (
	'base': 1,
	'small': 1.25,
	'large': 2,
);

$font-size-headings: (
	h1: $font-size-base * 4,
	h2: $font-size-base * 3,
	h3: $font-size-base * 1.8,
	h4: $font-size-base * 1.5,
	h5: $font-size-base * 1.25,
	h6: $font-size-base,
);

$transition-time: 0.4s;
