.main {
	@include box(100%, 100vh);
	overflow: hidden;

	&__inner {
		@include relative();

		@include box(100%);

		&::before {
			@include absolute();

			@include box(inherit);

			background: center / cover no-repeat
				url('../img/index/index-bg.jpg');
			filter: grayscale(100%);

			content: '';
		}
	}
}
