.booking {
	position: relative;
	z-index: 10;

	@include flex-pos(flex-end, normal);

	width: 100%;
	max-width: 1920px;
	margin-top: 4rem;
	margin-bottom: 6rem;

	&__border {
		width: 85%;
		@include flex-pos(center, normal);

		&::before,
		&::after {
			position: relative;

			@include box(508px, 44px);

			background: center / contain no-repeat
				url(../img/index/booking-border.png);

			content: "";

			@include for-size(768) {
				display: none;
			}
		}

		&::before {
			top: 6.5px;
		}

		&::after {
			bottom: 7px;

			@include rotate(180);
		}

		@include for-size(1750) {
			width: 100%;
		}
	}

	&__outer {
		width: 100%;
		padding: 2px 0;

		border-top: 3px solid $secondary;
		border-bottom: 3px solid $secondary;

		@include for-size(768) {
			padding: 0;

			border: none;
		}
	}

	&__inner {
		@include flex-pos(center, normal);
		width: inherit;
		padding: 1rem;

		background-color: $brown;

		@include for-size(768) {
			flex-direction: column;

			background-color: transparent;
		}

		@include for-size(768) {
			padding: 0;
		}
	}

	&__title {
		@include flex-pos(center);

		@include for-size(768) {
			margin-bottom: 2rem;

			letter-spacing: 0.3rem;
			text-align: center;
		}
	}

	@include for-size(1750) {
		max-width: 100%;
		margin-top: $description-mg;

		margin-bottom: 0;
	}
}

.form {
	@include flex-pos(center, normal);

	&,
	&__item,
	&__btn {
		margin-left: 2rem;

		@include for-size(768) {
			margin-left: 0;
		}
	}

	&__item,
	&__btn {
		@include border;
		border-radius: 0.5rem;
	}

	&__item {
		padding: 1rem $form-item-horizontal-padding;

		background-color: $white;

		&:first-child {
			margin-left: 0;
		}

		@include for-size(768) {
			@include border(1px, solid, $brown, 0.5rem);
			margin-top: 15px;
		}
	}

	&__label {
		position: relative;

		@include flex-pos(center, normal);
		flex-direction: column;

		@include font($font-family-secondary);
		color: $gray;
		font-size: $font-size-sm;

		&--date::before,
		&--guest::before {
			position: absolute;
			top: 50%;
			left: 0;

			@include translate(0, -50%);

			content: "";
		}

		&--date::before {
			@include box(23px);

			background: center / contain no-repeat
				url(../img/common/small-calendar.png);
		}

		&--guest::before {
			@include box(19px);

			background: center / contain no-repeat
				url(../img/common/small-user.png);
		}

		&--guest {
			align-items: center;
			padding-left: $guest-input-icon-w;
		}

		&--date {
			padding-left: $date-input-icon-w;
		}
	}

	&__input {
		margin-top: 0.3rem;

		font-size: $font-size-md;
		text-align: center;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		&--date {
			width: $date-input-width;
		}

		&--guest {
			width: $guest-input-width;
		}
	}

	&__btn {
		//margin-top: 2rem;
		padding: 0 $form-item-horizontal-padding;

		@include font($font-family-secondary, $font-weight-md, $font-size-md);

		background-color: $yellow;

		transition: box-shadow $transition-time ease;

		&:hover {
			box-shadow: 0 0 2rem 1rem $black-200;
		}

		@include for-size(768) {
			margin-top: 2rem;
			padding: 3rem 0;
		}
	}

	@include for-size(768) {
		justify-content: space-evenly;
	}
}
