.booking {
	position: relative;
	z-index: 2;

	@include flex-pos(flex-end, normal);

	width: 100%;
	max-width: 192rem;
	margin-top: 4rem;

	&__border {
		width: 85%;
		@include flex-pos(center, normal);

		&::before,
		&::after {
			position: relative;

			@include box(50.8rem, 4.4rem);

			background: center / contain no-repeat
				url(../img/index/booking-border.png);

			content: '';
		}

		&::before {
			top: 0.6rem;
		}

		&::after {
			bottom: 0.6rem;

			transform: rotate(180deg);
		}
	}

	&__outer {
		width: 100%;
		padding: 0.3rem 0;

		border-top: 0.2rem solid $secondary;
		border-bottom: 0.2rem solid $secondary;
	}

	&__inner {
		@include flex-pos(center, normal);

		width: inherit;
		padding: 1rem;

		background-color: $brown;
	}

	&__title {
		@include flex-pos(normal, center);
	}
}

.form {
	@include flex-pos(center, normal);

	&,
	&__item,
	&__btn {
		margin-left: 3rem;
	}

	&__item {
		padding: 1rem $form-item-horizontal-padding;

		background-color: $white;
		@include border;
		border-radius: 0.4rem;

		&:first-child {
			margin-left: 0;
		}
	}

	&__label {
		position: relative;

		@include flex-pos(center, normal);
		flex-direction: column;

		@include font($font-family-secondary);
		color: $gray;
		font-size: $font-size-sm;

		&--date::before {
			position: absolute;
			left: 0;

			@include box(2.3rem);

			background: center / contain no-repeat
				url(../img/common/small-calendar.png);

			content: '';
		}

		&--guest::before {
			position: absolute;
			left: 0;

			@include box(1.9rem);

			background: center / contain no-repeat
				url(../img/common/small-user.png);

			content: '';
		}

		&--guest {
			align-items: center;
			padding-left: $guest-input-icon-w;
		}

		&--date {
			padding-left: $date-input-icon-w;
		}
	}

	&__input {
		margin-top: 0.3rem;

		font-size: $font-size-md;
		text-align: center;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}

		&--date {
			width: $date-input-width;
		}

		&--guest {
			width: $guest-input-width;
		}
	}

	&__btn {
		padding: 0 $form-item-horizontal-padding;

		@include font($font-family-secondary, $font-weight-md, $font-size-md);

		background-color: $yellow;

		transition: box-shadow $transition-time ease;

		&:hover {
			box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
		}
	}
}
