.deer {
	z-index: 1000;

	width: 89.9rem;
	height: 110rem;

	mix-blend-mode: darken;

	&,
	&__video,
	&__img {
		@include absolute(0, 0, 0, 0);
	}

	&__video,
	&__img {
		@include box(100%);

		object-fit: cover;
	}

	&__img {
		mix-blend-mode: screen;
	}
}
