.deer {
	max-width: 96.5rem;
	max-height: 118.6rem;

	mix-blend-mode: darken;

	&,
	&__video,
	&__img {
		@include absolute();
		@include box(100%);
	}

	&__video {
		object-fit: cover;
	}

	&__img {
		object-fit: cover;

		mix-blend-mode: screen;
	}
}
