.description {
	margin-top: $description-mg;

	.flex-end-wrapper {
		padding-left: 25rem;

		@include for-size(1750) {
			padding-left: 0;
		}
	}

	&__inner {
		position: relative;

		@include flex-pos(normal, center);
		width: 100%;
		max-width: 50%;

		@include for-size(1750) {
			justify-content: center;
			max-width: 100%;
		}

		@include for-size(768) {
			justify-content: space-evenly;
		}
	}

	&__img {
		display: none;

		@include for-size(1750) {
			display: block;
			margin-right: 110px;
		}

		@include for-size(992) {
			margin-right: 80px;
		}

		@include for-size(768) {
			margin-right: 0;
			margin-bottom: 3rem;
		}
	}

	&__info {
		position: relative;

		@include flex-pos(center, normal);
		flex-direction: column;
		padding: 1rem 0;
		padding-left: 50px;

		@include font($font-family-secondary);
		font-weight: 500;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;

			@include translate(0, -50%);

			@include box(100%);
			max-width: 23px;

			background: center / contain no-repeat
				url(../img/index/info-border.png);

			content: '';
		}
	}

	&__about {
		width: 100%;
		max-width: 33rem;
		margin: 0;
		padding-top: 1.5rem;

		font-size: $font-size-md;
		line-height: $line-height-lg;
	}

	&__price {
		@include flex-dir(column);

		color: $secondary;
		font-size: $font-size-md;
	}
}

//SPAN
.center {
	padding-left: 15px;

	font-size: $font-size-lg;
	line-height: $line-height-md;

	&::after {
		margin-left: 5px;

		content: '\20BD';
	}
}

.down {
	padding-left: 80px;
}
