.description {
	margin-top: $intro-img-mg-bottom;

	.flex-end-wrapper {
		padding-left: 30rem;
	}

	&__inner {
		position: relative;

		@include flex-pos(center, normal);
		flex-direction: column;

		width: 100%;
		max-width: 50%;

		padding: 1rem 0;
		padding-left: 5rem;

		@include font;
		font-weight: 500;

		&::before {
			position: absolute;
			left: 0;

			@include box(100%);
			max-width: 2.4rem;

			background: center / contain no-repeat
				url(../img/index/info-border.png);

			content: '';
		}
	}

	&__info {
		width: 100%;
		max-width: 33rem;

		margin: 0;
		padding-top: 1.5rem;

		font-size: $font-size-md;
		line-height: $line-height-lg;
	}

	&__price {
		@include flex-dir(column);

		color: $secondary;
		font-size: $font-size-md;

		span {
			width: 100%;
		}
	}
}

//SPAN
.center {
	padding-left: 1.5rem;

	font-size: $font-size-lg;

	&::after {
		margin-left: 0.5rem;

		content: '\20BD';
	}
}

.down {
	padding-left: 8rem;
}
