.intro {
	padding-top: $header-height;

	&__inner {
		width: 100%;
		max-width: 50%;

		font-family: $BebasNeueBook;
	}

	&__wrapper {
		@include flex-pos(flex-end, normal);
	}

	&__title {
		@include relative(0, 2.5rem);
	}

	&__image {
		margin-top: $intro-img-mg-top;
		@include relative(0, 9.5rem);
	}

	&__subtitle {
		margin-top: $intro-img-mg-bottom;
		padding-left: 11.5rem;
	}
}
