//-section.deer
//-	video.deer__video(src='video/index-bg.mp4', autoplay, loop, muted)
//-	+img('img/index/deer.jpg').deer__img

//-section.intro
//-	.container
//-		.intro__inner
//-			.intro__wrapper
//-				h2.title.intro__suptitle отель-заповедник
//-				.intro__title
//-					+icon-multi('title')
//-				h1.title.intro__subtitle премиальный отдых в подмосковье

//-section.description
//-	.container
//-		.description__inner
//-			.description__wrapper
//-				.description__price
//-					span.up от
//-					span.center 5 500
//-					span.down в сутки
//-				p.description__info 4х разовое питание и all inclusive. Собственное подсобное хозяйство, бассейн, баня, конный двор, и контактный зоопарк.
