main.main
	.intro
		.container
			.flex-end-wrapper
				.intro__inner
					.wrapper
						h2.clean-title.intro__title отель-заповедник
						img.intro__img(src='img/index/intro-text.svg', alt='')
						h1.clean-title.intro__subtitle  премиальный отдых в подмосковье

	.deer
		video.deer__video(src='video/index-bg.mp4', autoplay, loop, muted)

	.description
		.container
			.flex-end-wrapper
				.description__inner
					img.description__img(src='img/index/small-deer.png', alt='')
					.description__info
						.description__price
							span.up от
							span.center 5 500
							span.down в сутки
						p.description__about 4х разовое питание и all inclusive. Собственное подсобное хозяйство, бассейн, баня, конный двор, и контактный зоопарк.

.booking
	.booking__border
		.booking__outer
			.booking__inner
				h2.clean-title.booking__title бронирование номеров
				form.form
					.form__item
						label.form__label.form__label--date Заезд
							input.clean-input.form__input.form__input--date(type='text', maxlength='10', value='04.03.2019')
					.form__item
						label.form__label.form__label--date Выезд
							input.clean-input.form__input.form__input--date(type='text', maxlength='10', value='04.03.2019')
					.form__item
						label.form__label.form__label--guest Гости
							input.clean-input.form__input.form__input--guest(type='number', maxlength='2', value='1')
				button.clean-btn.form__btn(type='submit') Найти номер

canvas#myCanvas(height='200', width='800')