.deer
	video.deer__video(src='video/index-bg.mp4', autoplay, loop, muted)
	+img('img/index/deer.jpg').deer__img

section.intro
	.container
		.flex-end-wrapper
			.intro__inner
				h2(class='clean-title intro__title') отель-заповедник
				img.intro__image(src='img/index/intro.svg', alt='')
				h1(class='clean-title intro__subtitle')  премиальный отдых в подмосковье

section.description
	.container
		.flex-end-wrapper
			.description__inner
				.description__price
					span.up от
					span.center 5 500
					span.down в сутки
				p.description__info 4х разовое питание и all inclusive. Собственное подсобное хозяйство, бассейн, баня, конный двор, и контактный зоопарк.
