.container {
	width: 100%;
	max-width: 192rem;

	margin: 0 auto;

	padding: 0 3rem;
}

.clean-link {
	&,
	&:hover,
	&:focus,
	&:active {
		color: inherit;
		text-decoration: none;
	}
}

.user-select-none {
	user-select: none;
}

.title {
	margin: 0;

	font-weight: inherit;
}
