.page {
	position: relative;

	width: 100%;
	max-width: 100%;

	&::before {
		@include absolute(0, 0, 0, 0);
		z-index: -1;

		@include box(100%, 100vh);

		background: center / cover no-repeat url('../img/index/index-bg.jpg');
		filter: grayscale(100%);

		content: '';
	}
}

.container {
	width: 100%;
	max-width: 192rem;

	margin: 0 auto;

	padding: 0 2rem;
}

.user-select-none {
	user-select: none;
}

.flex-end-wrapper {
	@include flex-pos(flex-end, normal);
}

.clean {
	&-link {
		&,
		&:hover,
		&:focus,
		&:active {
			color: inherit;
			text-decoration: none;
		}
	}

	&-title {
		margin: 0;

		font-weight: inherit;
	}
}
