mixin phone(phoneNumber)
	h3.clean-title.nav__phone= phoneNumber

mixin navItem(content)
	a.clean-link.user-select-none.nav__link(href='#')&attributes(attributes)
		h3.clean-title.nav__title= content

header.header
	.container
		.flex-end-wrapper
			.header__inner
				.hamburger
					span
				img.header__logo(src='../img/common/header-logo.png', alt='')
				nav.nav
					+navItem('об отеле')
					+navItem('номера и цены')
					+navItem('мероприятия')
					+navItem('контакты')
					+phone('+7 (495) 005-61-59')
